@font-face
{
	font-family: BillabongRegular;
	src: url('../fonts/Billabong.ttf');
	font-weight: normal;
	font-style: normal;
}

.greyline {
	width: 100vw;
	height: 1px;
	background-color: #DBDBDB;
	position: absolute;
	left: 0;
}

.header_iner {
	/* width: 100%; */
	display: flex;
	justify-content: space-between; 
	align-items: center;
	z-index: 10;
	max-width: 975px;
	margin-left: auto;
	margin-right: auto;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px
}
.logo {
	display: flex;
	text-decoration: none;
}
.logotext {
	margin-top: auto;
	margin-bottom: auto;
	color: black;
	font-family: BillabongRegular;
	font-size: 3vw;
}

.navigation_bar {
	margin-top: 20px;
	margin-bottom: 20px;
}
.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 25px;
}

.profile_block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.small_prof_img {
	width: 23px;
	height: 23px;
	border: 1px solid black;
	padding: 2px;
	border-radius: 50%;
}
.dropbtn {
	width: 29px;
	background-color: white;
	border-width: 0;
	cursor: pointer;
	outline: none;
	position: fixed;
	height: 30px;
	opacity: 0;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	width: 185px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
	box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
	-webkit-box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
	box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
	z-index: 10;
}
.smallgreyline {
	width: 100%;
	height: 1px;
	background-color: #DBDBDB;
	position: absolute;
	left: 0;
}
.show {
	display: block;
}
.svgm {
	margin-left: 7px;
}
.grid {
	display: inline-grid;
}
.flex_b {
	display: flex;
	margin-bottom: 5px;
	margin-top: 5px;
}

.grid_buttons {
	text-decoration: none;
	color: black;
	z-index: 11;
	display: block;
	margin-left: 10px;
}


.popupsignup, .popupsignin {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 15;
	transition: all 0.8s ease 0s;
}
.popupsignup:target, .popupsignin:target {
	opacity: 1;
	visibility: visible;
}

.popup_area {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	cursor: default;
}
.popup_body {
	
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;

}

.popup_content {
	background-color: #FFFFFF;
	border-radius: 20px;
	color: black;
	max-width: 80vw;
	position: relative;
	padding: 4vw;
	text-align: center;
}



.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.popup:target {
	visibility: visible;
	opacity: 1;
}

.popup__overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.popup__box {
	margin: 115px auto;
	width: 444px;
	height: 584px;
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
	position: relative;
}

.popup_link {
	color: black;
}

input {
	border: 1px solid #cccccc;
	margin: 5px;
	height: 23px;
	text-align: center;
}

.form_button {
	text-transform: uppercase;
	border-radius: 2px;
	margin-top: 10px;
	background: #FFFFFF;
}
.mesage_error {
	color: blueviolet;
}