@font-face
{
	font-family: SanFrancisco;
	src: url('../fonts/SanFrancisco.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: white;
	font-family: SanFrancisco;
}

.photo_container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(201, 201, 201);
	height: 100%;
}